/*styling for the whole webpage*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#c0ccb8;
    font-size:16px;
    padding-left:5%;
    padding-right:5%;
    } 

/*challenges page grid*/
.grid-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.challenge {
    height:fit-content;
    border-style: outset;
    border-color: cadetblue;
    margin-bottom: auto;
    padding: 1%;
    max-width: 40%;
}

#rockPaperScissors {
    border-style: outset;
    border-color: darkolivegreen;
    background-color: #d8f2df;
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#rockPaperScissors img {
    cursor: pointer;
    border-radius: 10%;
    height: 10em;
    width: 10em;
    border-style: 2px solid;
}

.rpsButton {
    border:none;
    background-color:transparent;
    outline:none;
}

.solution {
    border-style: outset;
    border-color: darkolivegreen;
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
}

/*styling for images*/
img {
    max-width: 100%;
    height: auto;
}

/*making the flex-container div flexible*/
.flex-container {
    background-color: darkseagreen;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    align-content:space-around;
    padding:10px;
}

figcaption {
    text-align: center;
    border-style: double;
    padding: 10px;
}

/*styling the images in the flex-container*/
.flex-container img {
    height: 200px;
    padding:10px;
    border-style: none;
    margin:20px;
    background-color: transparent;
}

/*styling the navigation bar*/
nav ul{
    background-color: #647559;  
    list-style-type: none;
    overflow: hidden;
}

/*styling the links in the nav bar*/
nav ul a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

/*change the colour of the nav item the mouse hovers over*/
nav a:hover {
    background-color: #966f90;
}

/*change the colour of the nav item for the page you are currently on*/
#active {
    background-color: #f7c3b7;
    color: #30362f;
}